<ion-header>
  <ion-item>
    <ion-label>Métodos</ion-label>
    <ion-select [(ngModel)]="selectedMethod" [compareWith]="compareFn" interface="popover" okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option *ngFor="let method of methods" [value]="method">{{method.description}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>
<ion-content forceOverscroll="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">GuidCiu</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="guidCiu" name="guidCiu"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Respuesta</ion-label>
          <ion-textarea
            readonly
            autoGrow
            [value]="response">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button color="danger" expand="block" [disabled]="validateButton()" (click)="callRequest()">SOLICITAR PREGUNTAS</ion-button>
</ion-footer>