<ion-header>
  <ion-item>
    <ion-label>Métodos</ion-label>
    <ion-select [(ngModel)]="selectedMethod" [compareWith]="compareFn" interface="popover" okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option *ngFor="let method of methods" [value]="method">{{method.description}}</ion-select-option>
    </ion-select>
  </ion-item> 
</ion-header>
<ion-content forceOverscroll="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="image">
          <img [src]="image['path']"><img>
        </ion-item>
        <br *ngIf="image">
        <ion-item>
          <ion-label position="floating">GuidCiu</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="guidCiu" name="guidCiu"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Datos Adicionales</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="dataAdi" name="dataAdi"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">GuidConv</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="guidConv" name="guidConv"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] != 3">
          <ion-label position="floating">Formato</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="formato" name="formato"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 1 || selectedMethod['id'] == 2">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="usuario" name="usuario"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Respuesta</ion-label>
          <ion-textarea
            readonly
            autoGrow
            [value]="response">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row justify-content-center align-items-center>
    <ion-button *ngIf="selectedMethod['id'] != 4" class="width-50-percent" color="danger" expand="block" [disabled]="guidCiu.length === 0" (click)="callTake()">CAPTURAR</ion-button>
    <ion-button *ngIf="selectedMethod['id'] == 4" class="width-30-percent" color="danger" expand="block" [disabled]="guidCiu.length === 0" (click)="callReference()">REFERENCIA</ion-button>
    <ion-button [ngClass]="{'width-50-percent': selectedMethod['id'] != 4, 'width-30-percent': selectedMethod['id'] == 4}" class="width-30-percent" color="danger" expand="block" [disabled]="validateButton()" (click)="callSave()">GUARDAR</ion-button>
    <ion-button *ngIf="selectedMethod['id'] == 4" class="width-30-percent" color="danger" expand="block" [disabled]="guidCiu.length === 0" (click)="callValidate()">VALIDAR</ion-button>
  </ion-row>
</ion-footer>