.width-30-percent {
    width: 30% !important
}

.width-50-percent {
    width: 45% !important
}

ion-grid {
    height: 100%;
    overflow: hidden;
}

ion-content ion-row {
    height: 50%;
    overflow: auto;
}

ion-item {
    --highlight-height: 0
}