<ion-header>
  <ion-item>
    <ion-label>Métodos</ion-label>
    <ion-select [(ngModel)]="selectedMethod" [compareWith]="compareFn" interface="popover" okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option *ngFor="let method of methods" [value]="method">{{method.description}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>
<ion-content forceOverscroll="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="selectedMethod['id'] == 1 || selectedMethod['id'] == 4 || selectedMethod['id'] == 6">
          <ion-label position="floating">GuidConv</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="guidConv" name="guidConv"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 1">
          <ion-label position="floating">Datos Adicionales</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="data" name="data"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 5 || selectedMethod['id'] == 2  || selectedMethod['id'] == 4">
        <ion-label position="floating">GuidCiu</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="guidCiu" name="guidCiu"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 2">
          <ion-label position="floating">DatosOTP TipoOTP</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="dataOTP" name="dataOTP"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 2">
          <ion-label position="floating">Mensaje</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="message" name="message"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 3">
          <ion-label position="floating">GuidOTP</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="guidOTP" name="guidOTP"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 3">
          <ion-label position="floating">OTP</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="otp" name="otp"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">TipoDoc</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="tipoDoc" name="tipoDoc"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">NumDoc</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="numDoc" name="numDoc"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">Email</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">Celular</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="celular" name="celular"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">DatosAdi</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="datosAdi" name="datosAdi"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">ProcesoConvenioGuid</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="procesoConvenioGuid" name="procesoConvenioGuid"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">Asesor</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="asesor" name="asesor"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 4">
          <ion-label position="floating">Sede</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="sede" name="sede"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 6">
          <ion-label position="floating">Texto</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="texto" name="texto"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 6">
          <ion-label position="floating">Componente</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="componente" name="componente"></ion-input>
        </ion-item>
        <ion-item *ngIf="selectedMethod['id'] == 6">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input requiredtype="text" [(ngModel)]="usuario" name="usuario"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Respuesta</ion-label>
          <ion-textarea
            readonly
            autoGrow
            [value]="response">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button color="danger" expand="full" [disabled]="validateButton()" (click)="callAction()">ACEPTAR</ion-button>
</ion-footer>