<ion-content>
  <ion-grid class="background height-100">
    <ion-row justify-content-center align-items-center class="height-100">
      <ion-row justify-content-center>
        <ion-img class="logo" src="assets/img/logo.png"></ion-img>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            <ion-button color="danger" expand="block" [routerLink]="['/biometrics']">BIOMETRÍA</ion-button>
          </p>
          <p>
            <ion-button color="danger" expand="block" [routerLink]="['/services']">SERVICIOS</ion-button>
          </p>
          <p>
            <ion-button color="danger" expand="block" [routerLink]="['/questions']">PREGUNTAS</ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>